$red: #cc0001;
$white: #fff;
$gray: #555555;
$black: #000000;
$border-color: #929292;
$input-boder-color: #b5b5b5;
$border-color-2:#d0d0d0;
$button-backgound: rgba(255, 255, 255, 0.67);
$light-background: rgba(146, 146, 146, 0.2);
$black-3: #333333;
$background: rgba(204, 0, 1, 0.04);
$icon-background: rgba(204, 0, 1, 0.18);

:root {
    --normal-pixel: 5px;
    --medium-pixel: 10px;
    --large-pixel: 15px;
    --extra-large-pixel: 20px;
}
