@font-face {
    font-family: "Helvetica-Bold";
    src: url("../../Assets/Font/Helvetica-Bold.ttf");
}

@font-face {
    font-family: "Helvetica";
    src: url("../../Assets/Font/Helvetica.ttf");
}

