// @use './mixins/breakpoint.scss';
// @use './mixins/typography.scss';
// @use './mixins/columns.scss';
// @use './function/columns.scss';
// @use './layout/container.scss';
// @use './mixins/index.scss';

@import "../function/columns.scss";
@import "../layout/container.scss";
@import "../mixins/color.scss";
@import "../mixins/breakpoint.scss";
@import "../mixins/index.scss";
@import "../mixins/typography.scss";
@import "../mixins/font.scss";

.main-button {
   background-color: $red;
   @include text;
   color: $white;
   padding: 5px 7px;
   cursor: pointer;
   border: none;
   height: 31px;
   width: -webkit-fill-available;
}
.form-group {
   margin-bottom: 20px;
   input,
   .searchWrapper,
   select {
      @include text;
      color: #363636;
      outline: none;
      padding: 0 10px !important;
      border: 1px solid $input-boder-color;
      border-radius: 0;
      width: -webkit-fill-available;
      transition: 0.3s ease-in-out;
      height: calc(var(--medium-pixel) * 4 - 0px);
      // margin-bottom: 20px;
      &:focus {
         border: 1px solid $gray;
      }
   }

   label {
      display: block;
      @include text;
      color: $gray;
      padding-bottom: calc(var(--normal-pixel) * 1 - 0px);
   }

   ::placeholder {
      color: $gray;
      @include text;
   }
}
.fullheight {
   height: calc(100vh - 600px);
}
.loader {
   position: fixed;
   z-index: 111;
   background-color: rgba(0, 0, 0, 0.5);
   width: 100%;
   top: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
}

a {
   text-decoration: none;
}

.road-map-alignment {
   background: rgba(204, 0, 1, 0.04);
   padding: 120px 0;
   @include breakpoint("max-sm") {
      padding: 60px 20px;
   }

   .cus-timeline {
      .container1 {
         width: 100%;
         padding: 50px 0;
         // margin: 50px auto;
         position: relative;
         overflow: hidden;
      }

      .container1:before {
         content: "";
         position: absolute;
         top: 0;
         left: 10px;
         margin-left: -1px;
         width: 2px;
         height: 90%;
         background: $red;
         z-index: 1;
      }

      .timeline-block {
         width: -webkit-calc(100% + 0px);
         width: -moz-calc(100% + 0px);
         width: calc(100% + 0px);
         display: -webkit-box;
         display: -webkit-flex;
         display: -moz-box;
         display: flex;
         -webkit-box-pack: justify;
         -webkit-justify-content: space-between;
         -moz-box-pack: justify;
         justify-content: space-between;
         clear: both;
      }

      .timeline-block-right {
         float: right;
      }

      .timeline-block-left {
         float: right;
         direction: ltr;
      }

      .marker {
         width: 16px;
         height: 16px;
         border-radius: 50%;
         border: 2px solid $red;
         background: $red;
         margin-top: 10px;
         z-index: 9999;
      }

      .timeline-content {
         width: 95%;
         padding: 0 15px 30px 20px;
         color: #fff;
      }
      .timeline-content {
         cursor: pointer;
      }
      .timeline-content h3 {
         margin-top: 5px;
         margin-bottom: 5px;
         @include text-md;
         font-weight: 400;
         letter-spacing: 1px;
         font-family: "Helvetica";
         color: $black-3;
         transition: 0.3s ease-in-out;
         &:hover {
            color: $red;
         }
      }

      .timeline-content span {
         font-size: 15px;
         color: #a4a4a4;
      }

      .timeline-content p {
         font-size: 16px;
         letter-spacing: 1px;
         font-family: "Helvetica";
         line-height: 1.5em;
         word-spacing: 1px;
         color: $gray;
         margin: 10px 0 0 0;
      }

      @media screen and (max-width: 768px) {
         .container1:before {
            left: 8px;
            width: 2px;
         }
         .timeline-block {
            width: 100%;
            margin-bottom: 30px;
         }
         .timeline-block-right {
            float: none;
         }

         .timeline-block-left {
            float: none;
            direction: ltr;
         }
      }
   }
}

.star-color {
   color: $red;
}
.back {
   background-color: #cc0001;
   min-width: 143px;
   height: 40px !important;
   margin-bottom: 20px;
   border: none;
   border-radius: 5px;
   color: #fff;
   padding: 5px 10px;
   text-align: center;
   font-size: 16px;
   line-height: 40px;
   font-family: "Helvetica";
   font-weight: 400;
   cursor: pointer;
   margin-top: 20px;
}

.flexs {
   justify-content: flex-end !important;
   display: flex !important;
}
.headr1 {
   font-size: 36px;
   line-height: 41px;
   font-family: "Helvetica-Bold";
   font-weight: 700;
   color: #333333;
   margin: 0;
   text-align: center;
}
.align {
   text-align: start !important;
   padding: 20px 0 !important;
}
